

.mouse{
  transition: 0.2s;
  height: 10px;
  background-color:white;
  border-radius: 50%;
  width: 10px;
  position: fixed;
  top:0;
  mix-blend-mode:difference;
  pointer-events: none;
  z-index: 2;
  transform: translate(-50%, -50%);
 
}

.main:hover ~ .mouse{
  transform:scale(2);
 }
